<h1>Welcome</h1>
<p>Welcome to this nodejs demo</p>
<p>Trying some google oauth2 stuff</p>

{{#if user}} {{else}}

<a href="/auth/google" class="btn red darken-1">
    <i class="fa fa-google left"></i> Login With Google</a>
{{/if}}